{% extends "layout.html" %}
{% block content %}
	<h1> {{ info.year }} </h1>
	{% for i in range(25) %}
	<div class="row">
		{% if i == 0 %}
		<div class="h-100 col-sm timecol">
			<h3> Time </h3>
		</div>
		{% for day, month in info.days %}
			<div class="h-100 col-sm daycol">
			<div class="daylabel">
				<h3> {{ info.weekdays[loop.index-1] }}</h3>
				<h4> {{ month }} {{ day }} </h4>
				<div type="button" class="btn btn-small btn-warning add-event"> <a style="none" href="{{ url_for("add_event", year=info.year, day=day, month=info.mons[loop.index0], next=request.path ) }}">Add event</a></div>
			</div>
			</div>
		{% endfor %}
		{% else %}
		<div class="h-100 col-sm timecol">
			{% if i < 10 %}
			<p>{{ "0" + i|string + ":00" }}</p>
			{% else %}
			<p>{{ i|string + ":00" }}</p>
			{% endif %}
		</div>
		{% for day, month in info.days %}
			{% if events[loop.index-1][i-1] %}
			<div class="h-100 col-sm event">
				<p> {{ events[loop.index-1][i-1].description }}</p>
			</div>
			{% else %}
			<div class="h-100 col-sm no-event">
				<p> - <p>
			</div>
			{% endif %}
		{% endfor %}
		{% endif %}
	</div>
	{% endfor %}
	<div class="botdiv"></div>
{% endblock content %}

