{% extends "layout.html" %}
{% block content %}
	<h1> {{ info.year }} </h1>
	<div class="row">
		{% for day, month in info.days %}
			<div class="h-100 col-sm daycol">
			<div class="daylabel">
			<h2> {{ month }} </h2>
			<h3> {{ day }} </h3>
			</div>
			<div class="h-100 wholeday">
				<p>dsadsa</p>
			</div>
			<a type="button" href="{{ url_for("add_event", year=info.year, day=day, month=info.mons[loop.index0], next=request.path ) }}" class="btn btn-outline-primary">Add event</a>
			</div>
		{% endfor %}
	</div>

{% endblock content %}
